/* EXPERIMENTAL CSS START */


.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:100%;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}





/* EXPERIMENTAL CSS END */




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Jess Morrison CSS - Hi.*/
h2{
  color:#fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  margin-left:15px;
}
.jm-container {
  padding-left:15px;
  padding-right:15px;
  width: 100%;
}

.jm-col-12 {
  width: 100%;
  display: flex;
}

.jm-col-x {
  width: 100%;
  display: flex;
}
.work__brands {
  color:#fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

/* King - 0b1b29 */
/* Dark Red Triad - 361514 */

body, html {
  /*background: linear-gradient(to bottom, #000, #0b1b29);*/
  background:#090909;
	height:100%;
  margin:0;
  min-height: 100% !important;
	padding:0;
	width:100%;
}
.jm-container-full-screen {
  /*background: linear-gradient(to bottom, #000, #0b1b29);*/
  background:#090909;
	height:100%;
	width:100%;
}
.jm-TT {
  animation: TT-Glow 3s ease-in-out infinite alternate;
  color: #090909!important;
  color: #060d14;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 60px;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  transition-timing-function: ease;
  -webkit-animation: TT-Glow 3s ease-in-out infinite alternate;
  -moz-animation: TT-Glow 3s ease-in-out infinite alternate; 
}
#jm-logo {
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
#jm-logo img {
	width:100%;
}
.header {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: none;
}
.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color:#fff;
}
.header li a:hover,
.header .menu-btn:hover {
    color:#000;
}
.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}
.header .menu-icon .navicon:after {
    top: -5px;
}
.header .menu-btn {
    display: none;
}
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

$TT-Glow: #fff;
@keyframes TT-Glow {
  from {
    text-shadow: 0 0 10px #090909, 0 0 20px #090909, 0 0 30px #090909, 0 0 40px #090909, 0 0 50px #090909, 0 0 60px #090909, 0 0 70px #090909;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}